{
  "plugins": ["prettier", "simple-import-sort"],
  "extends": ["next/core-web-vitals", "next/typescript", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    "no-shadow": 2,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["^swiper", "^echarts"]
      }
    ],
    "import/newline-after-import": 2,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-console": [
      2,
      {
        "allow": ["info", "warn", "error"]
      }
    ],
    "no-nested-ternary": 2,
    "no-param-reassign": 2,
    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }
    ],
    "simple-import-sort/imports": [
      2,
      {
        "groups": [
          // Side effect imports.
          ["^\\u0000"],
          // Third packages. `react` related packages come first.
          ["^react", "^@?\\w"],
          // Internal packages.
          ["^@/\\w"],
          // Parent imports. Put `..` last. Other relative imports. Put same-folder imports and `.` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$", "^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Css relative imports.
          ["^.+\\.(css|less|scss)$"]
        ]
      }
    ],
    "no-bitwise": 1,
    "@typescript-eslint/no-explicit-any": 1
  }
}
