# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea
node_modules
bower_components
vendor
*.iml
out
gen
ts/build
ES6/promise-statle.js
dist
.DS_Store
