@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astro-code-color-text: #09090b;
  --astro-code-color-background: #fafafa;
  --astro-code-token-comment: #a19595;
  --astro-code-token-keyword: #f47067;
  --astro-code-token-string: #00a99a;
  --astro-code-token-function: #429996;
  --astro-code-token-constant: #2b70c5;
  --astro-code-token-parameter: #4e8fdf;
  --astro-code-token-string-expression: #ae42a0;
  --astro-code-token-punctuation: #8996a3;
  --astro-code-token-link: #8d85ff;
}

html {
  overflow-y: auto;
  color-scheme: light;
  scroll-padding-top: 100px;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-neutral-100;
  /* @apply bg-neutral-100 dark:bg-neutral-900; */
  /* @apply text-black/75 dark:text-white/75; */
  @apply text-black/75;
}

.dark {
  --astro-code-color-text: #fafafa;
  --astro-code-color-background: #09090b;
  --astro-code-token-comment: #a19595;
  --astro-code-token-keyword: #f47067;
  --astro-code-token-string: #00a99a;
  --astro-code-token-function: #6eafad;
  --astro-code-token-constant: #b3cceb;
  --astro-code-token-parameter: #4e8fdf;
  --astro-code-token-string-expression: #bf7db6;
  --astro-code-token-punctuation: #8996a3;
  --astro-code-token-link: #8d85ff;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-6;
  @apply bg-neutral-100/75;
  @apply saturate-200 backdrop-blur-sm;
}

footer {
  @apply py-6 text-sm;
}

h1 {
  @apply font-semibold text-3xl text-black border-b mt-2 mb-1;
}
h2 {
  @apply font-semibold text-2xl text-black mt-7 mb-1  border-b;
}
h3 {
  @apply font-semibold text-base;
  @apply text-black;
  @apply mt-2 mb-1;
}
p {
  @apply ml-3 mt-4;
}
main {
  @apply flex-1 py-32;
}
main .main-content {
  @apply mx-auto max-w-screen-sm px-3;
}
ul {
  @apply list-disc pl-6 mb-5;
}
li {
  @apply my-2;
}
li p {
  margin: 0;
}

article {
  @apply max-w-full;
}

article a {
  @apply font-sans text-current  font-semibold;
  @apply decoration-black/30;
  @apply transition-colors duration-300 ease-in-out;
}
article a:hover {
  @apply text-black;
  @apply decoration-black/50;
}



/* shiki config */
pre {
  @apply border border-black/15 py-5 px-4 my-6 rounded-md  bg-[#fafafa] text-[#09090b] overflow-x-auto;
}
article code {
  @apply text-[#09090b] font-semibold;
}

